openapi: 3.0.3

info:
  title: Parker HVAC Scheduling API
  version: 1.0.0
  description: Parker HVAC appointment and lead management API.

servers:
  - url: https://script.google.com/macros/s/AKfycbwao97gig6yVT3WGSj053N_rVB0wlRbFmbvx6UEcJaq8dh9i5rpHJ_MaBvRbYhijLI

paths:
  /exec:
    post:
      operationId: parker_hvac
      summary: Parker HVAC appointment management
      description: >
        Use this API to check appointment availability, book appointments,
        save leads, cancel appointments, or reschedule appointments.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object

              required:
                - action

              properties:

                action:
                  type: string
                  description: The operation to perform.
                  enum:
                    - check_availability
                    - book_appointment
                    - save_lead
                    - cancel_appointment
                    - reschedule_appointment

                customer_name:
                  type: string
                  description: Customer's full name.

                phone:
                  type: string
                  description: Customer's phone number.

                email:
                  type: string
                  description: Customer's email address.

                service:
                  type: string
                  description: HVAC service requested.

                start_time:
                  type: string
                  description: Appointment start time in ISO 8601 format.
                  example: "2026-08-21T14:00:00-07:00"

                end_time:
                  type: string
                  description: Appointment end time in ISO 8601 format.
                  example: "2026-08-21T15:00:00-07:00"

                appointment_id:
                  type: string
                  description: Existing appointment ID.

                new_start_time:
                  type: string
                  description: New appointment start time for rescheduling.

                new_end_time:
                  type: string
                  description: New appointment end time for rescheduling.

                status:
                  type: string
                  description: Lead or appointment status.

                notes:
                  type: string
                  description: Additional customer or appointment notes.

      responses:
        "200":
          description: Successful API response.
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  available:
                    type: boolean
                  appointment_id:
                    type: string
                  conflicting_events:
                    type: integer
                  message:
                    type: string
                  error:
                    type: string
